In [1]:
#Tableau HW - Diana Kennen
#Dependencies
import pandas as pd
import numpy as np
import os
import csv

In [2]:
#Reading in mtv genre information and converting it into dataframes
jan_path = "data/202101-citibike-tripdata.csv"
feb_path = "data/202102-citibike-tripdata.csv"
mar_path = "data/202103-citibike-tripdata.csv"
apr_path = "data/202104-citibike-tripdata.csv"
may_path = "data/202105-citibike-tripdata.csv"
jun_path = "data/202106-citibike-tripdata.csv"

In [3]:
#Create dataframes
jan_data = pd.read_csv(jan_path, skipinitialspace = True, low_memory = False)
feb_data = pd.read_csv(feb_path, skipinitialspace = True, low_memory = False)
mar_data = pd.read_csv(mar_path, skipinitialspace = True, low_memory = False)
apr_data = pd.read_csv(apr_path, skipinitialspace = True, low_memory = False)
may_data = pd.read_csv(may_path, skipinitialspace = True, low_memory = False)
jun_data = pd.read_csv(jun_path, skipinitialspace = True, low_memory = False)

In [4]:
jan_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2513,2021-01-01 00:00:11.9020,2021-01-01 00:42:05.2260,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47812,Customer,1969,0
1,2519,2021-01-01 00:00:15.0960,2021-01-01 00:42:14.9780,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47571,Customer,1969,0
2,1207,2021-01-01 00:00:28.9300,2021-01-01 00:20:36.6510,3144,E 81 St & Park Ave,40.776777,-73.959010,3724,7 Ave & Central Park South,40.766741,-73.979069,37451,Subscriber,2002,1
3,2506,2021-01-01 00:00:32.7130,2021-01-01 00:42:19.3980,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,48884,Customer,2002,1
4,959,2021-01-01 00:00:35.3650,2021-01-01 00:16:34.6010,534,Water - Whitehall Plaza,40.702551,-74.012723,332,Cherry St,40.712199,-73.979481,26837,Customer,2002,1

In [6]:
feb_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BBA33D73DECE976F,docked_bike,2021-02-26 16:38:54,2021-02-26 16:44:37,E 84 St & Park Ave,7243.04,E 78 St & 2 Ave,7057.07,40.778626,-73.957720,40.772797,-73.955778,casual
1,B63D7AFF9AC5B6D4,docked_bike,2021-02-17 11:09:11,2021-02-17 11:26:47,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
2,52B829195C469D99,docked_bike,2021-02-26 18:33:29,2021-02-26 19:05:41,Macon St & Nostrand Ave,4214.03,Lefferts Pl & Franklin Ave,4222.02,40.680983,-73.950047,40.680342,-73.955769,casual
3,19C84ECA2B468476,docked_bike,2021-02-26 12:48:35,2021-02-26 13:07:24,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
4,C0DDB771E70D9DF5,docked_bike,2021-02-25 17:23:22,2021-02-25 17:28:20,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,member

In [7]:
mar_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4D69477D59E576ED,docked_bike,2021-03-22 18:30:56,2021-03-22 18:37:15,Willoughby Ave & Wyckoff Ave,5010.02,Cedar St & Myrtle Ave,4751.01,40.705614,-73.921530,40.697842,-73.926241,member
1,7F563DA4AC198E0A,docked_bike,2021-03-30 11:47:49,2021-03-30 12:00:40,Franklin Ave & Myrtle Ave,4715.01,Jackson St & Leonard St,5332.10,40.694546,-73.958013,40.716380,-73.948213,member
2,C5E0F4FEDA9C2F86,docked_bike,2021-03-04 19:53:50,2021-03-04 20:11:53,Adam Clayton Powell Blvd & W 141 St,7893.05,Goble Pl & Macombs Rd,8269.01,40.819241,-73.941057,40.844075,-73.917256,member
3,61B726C1884DB04C,docked_bike,2021-03-20 13:05:54,2021-03-20 13:11:16,Bayard St & Baxter St,5351.03,Hudson St & Reade St,5359.10,40.716021,-73.999743,40.716250,-74.009106,member
4,7807BB9281BCFD8D,docked_bike,2021-03-20 08:31:09,2021-03-20 08:35:41,Bayard St & Baxter St,5351.03,Hudson St & Reade St,5359.10,40.716021,-73.999743,40.716250,-74.009106,member

In [8]:
apr_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7099F9531C9DA16D,docked_bike,2021-04-28 17:27:24,2021-04-28 17:34:31,DeKalb Ave & Hudson Ave,4513.06,Douglass St & 4 Ave,4175.14,40.689888,-73.981013,40.679279,-73.981540,member
1,EDC6F1B1A69A7863,docked_bike,2021-04-27 17:28:02,2021-04-27 17:33:07,E 47 St & Park Ave,6584.12,W 52 St & 6 Ave,6740.01,40.755102,-73.974986,40.761330,-73.979820,member
2,431A76830E10408A,docked_bike,2021-04-28 18:05:19,2021-04-28 18:10:48,E 47 St & Park Ave,6584.12,W 52 St & 6 Ave,6740.01,40.755102,-73.974986,40.761330,-73.979820,member
3,C00248A0ADC009FA,docked_bike,2021-04-20 21:35:47,2021-04-20 21:56:31,Irving Ave & DeKalb Ave,4898.02,Division Ave & Hooper St,5045.05,40.702700,-73.920950,40.706842,-73.954435,casual
4,BE78810D746EE516,docked_bike,2021-04-30 00:34:54,2021-04-30 01:03:29,3 Ave & E 112 St,7543.15,E 115 St & Lexington Ave,7599.09,40.795508,-73.941606,40.797911,-73.942300,casual

In [9]:
may_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E12103A91226099A,docked_bike,2021-05-06 17:25:01,2021-05-06 17:45:25,Broadway & W 60 St,6948.11,1 Ave & E 78 St,7020.09,40.769155,-73.981918,40.771404,-73.953517,member
1,26A3DC47FE0EA3A3,docked_bike,2021-05-13 12:48:08,2021-05-13 13:07:37,Broadway & W 25 St,6173.08,E 2 St & Avenue B,5515.02,40.742868,-73.989186,40.722174,-73.983688,member
2,A99F2E1D627B088F,docked_bike,2021-05-16 08:30:13,2021-05-16 08:45:47,46 Ave & 5 St,6286.02,34th Ave & Vernon Blvd,6873.01,40.747310,-73.954510,40.765354,-73.939863,member
3,43E79A45997B7390,docked_bike,2021-05-01 08:38:14,2021-05-01 08:54:27,46 Ave & 5 St,6286.02,34th Ave & Vernon Blvd,6873.01,40.747310,-73.954510,40.765354,-73.939863,member
4,8B3CC649F4F58816,docked_bike,2021-05-09 08:12:31,2021-05-09 08:27:05,46 Ave & 5 St,6286.02,34th Ave & Vernon Blvd,6873.01,40.747310,-73.954510,40.765354,-73.939863,member

In [10]:
jun_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,6339C86D47EC0FAB,docked_bike,2021-06-02 17:18:45,2021-06-02 17:26:17,W 51 St & 6 Ave,6740.10,E 66 St & Madison Ave,6969.08,40.760659,-73.980420,40.768009,-73.968453,member
1,CDE3C147775B4002,docked_bike,2021-06-04 21:01:46,2021-06-04 21:32:09,W 56 St & 10 Ave,6955.01,E 9 St & Avenue C,5616.01,40.768254,-73.988639,40.725213,-73.977688,member
2,D335C3F6B412B846,docked_bike,2021-06-15 16:39:36,2021-06-15 16:55:02,E 56 St & Madison Ave,6732.01,E 16 St & 5 Ave,6022.04,40.761573,-73.972628,40.737262,-73.992390,member
3,8DA6810777C89735,docked_bike,2021-06-08 11:36:40,2021-06-08 11:39:41,E 68 St & 3 Ave,6896.16,1 Ave & E 62 St,6753.08,40.767128,-73.962246,40.761227,-73.960940,member
4,62D9B66A3A1D9FDF,docked_bike,2021-06-18 12:48:43,2021-06-18 13:04:14,E 48 St & 5 Ave,6626.01,W 20 St & 8 Ave,6224.05,40.757245,-73.978059,40.743453,-74.000040,member

In [16]:
#Combining all of the mtv df into one
bike_total_data = pd.concat([feb_data, mar_data, apr_data, may_data, jun_data], axis = 0)

In [17]:
bike_total_data.head(10)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BBA33D73DECE976F,docked_bike,2021-02-26 16:38:54,2021-02-26 16:44:37,E 84 St & Park Ave,7243.04,E 78 St & 2 Ave,7057.07,40.778626,-73.957720,40.772797,-73.955778,casual
1,B63D7AFF9AC5B6D4,docked_bike,2021-02-17 11:09:11,2021-02-17 11:26:47,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
2,52B829195C469D99,docked_bike,2021-02-26 18:33:29,2021-02-26 19:05:41,Macon St & Nostrand Ave,4214.03,Lefferts Pl & Franklin Ave,4222.02,40.680983,-73.950047,40.680342,-73.955769,casual
3,19C84ECA2B468476,docked_bike,2021-02-26 12:48:35,2021-02-26 13:07:24,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
4,C0DDB771E70D9DF5,docked_bike,2021-02-25 17:23:22,2021-02-25 17:28:20,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,member
5,BEACBA505A3F6979,docked_bike,2021-02-24 17:22:21,2021-02-24 17:28:01,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,member
6,83EFEF3B0CB1C657,docked_bike,2021-02-21 18:11:54,2021-02-21 18:26:19,E 84 St & Park Ave,7243.04,E 47 St & 1 Ave,6498.09,40.778626,-73.957720,40.752069,-73.967844,member
7,20A3DC6584692A88,docked_bike,2021-02-17 18:46:55,2021-02-17 18:51:51,W 29 St & 9 Ave,6416.06,W 20 St & 7 Ave,6182.02,40.750072,-73.998392,40.742388,-73.997262,casual
8,BFD4BFA83504DAC8,docked_bike,2021-02-26 14:57:23,2021-02-26 14:59:28,Frederick Douglass Blvd & W 112 St,7631.23,Frederick Douglass Blvd & W 117 St,7688.12,40.801694,-73.957145,40.805159,-73.954692,member
9,90EEFBA24EE78A1E,docked_bike,2021-02-27 16:38:43,2021-02-27 17:23:35,Frederick Douglass Blvd & W 112 St,7631.23,Frederick Douglass Blvd & W 117 St,7688.12,40.801694,-73.957145,40.805159,-73.954692,member

In [18]:
bike_total_data.to_csv("data/bike_total_data.csv")